body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
 font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: #B7D5D4;
    color: #488286;
    border-bottom: 6px solid #373E40;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.7); 
    transition: transform 0.3s, box-shadow 0.3s;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(2, 2, 2, 0.5);
}

/* .border-blue {
    border: 1px dotted blue;
} */

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

